.App {
  /* background-color: #5a5b5c; */
  height: 100vh;
  padding: 5%;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.buttons .button {
  margin: 5px;
}